In [1]:
import pandas as pd

In [3]:
# Read historic weather data in CSVs to a DataFrame

# Declare empty DataFrame
historical_weather_df = pd.DataFrame()

file_paths = ("historical_weather_france.csv", "historical_weather_italy.csv", "historical_weather_spain.csv", "historical_weather_us.csv")

for path in file_paths:
    temp_df = pd.read_csv(path)
    historical_weather_df = pd.concat([historical_weather_df, temp_df])

historical_weather_df

       Province  Year  Historical Precip  Historical Temp
0        Alsace  1901             864.18             8.41
1        Alsace  1902             737.39             8.57
2        Alsace  1903             757.38             8.90
3        Alsace  1904             704.56             9.39
4        Alsace  1905             840.87             8.72
..          ...   ...                ...              ...
475  Washington  2016            1103.25             9.64
476  Washington  2017            1174.94             8.55
477  Washington  2018             910.29             9.17
478  Washington  2019             810.17             8.31
479  Washington  2020             986.96             9.13

[1680 rows x 4 columns]

In [4]:
# Save historical_weather_df to CSV
historical_weather_df.to_csv('historical_weather.csv', index=False)